<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Animals Database</title>
</head>

<body>

  <div id="container">
    <h1>Animals Database</h1><br /><br />
    
    <h2>Editing: <span class="animal"><%= name %></span></h2> <br />

    <form action="/animals/update/<%= animal._id %>" method="post">

      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= animal.name %>"><br /><br />

      <label for="description">Description:</label><br />
      <textarea name="description" rows="5" cols="50"><%= animal.description %></textarea><br /><br />

      <label for="kingdom" >Kingdom:</label>
      <input type="text" name="kingdom" value="<%= animal.kingdom %>"><br /><br />

      <label for="order">Order:</label>
      <input type="text" name="order" value="<%= animal.order %>"><br /><br />

      <label for="clade">Clade:</label>
      <input type="text" name="clade" value="<%= animal.clade %>"><br /><br />

      <label for="phylum">Phylum:</label>
      <input type="text" name="phylum" value="<%= animal.phylum %>"><br /><br /><br />

  <!--    <input type="submit" value="Submit">-->
      <button class="bAdd" type="submit">Save Changes</button>
      <button class="bAdd" formaction="/" formmethod="get" type="submit" form="router">Cancel Edit</button>

    </form>

    <form id="router" method="post"></form>

  </div>
    
</body>
</html>